* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

.container {
    position: relative;
    background-image: url("../Assets/cloudy-1.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 50px;
}
.input {
    font-size: .65rem;
    border-radius: 10px;
    padding: .3rem .4rem;
    
}

.button {
    font-size: .6rem;
    max-height: 1rem;
    border: none;
    border-radius: 8px;
    padding: .3rem;
    


}
.titulo {
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
}

.titulo:hover {
    color: aliceblue;
    background-color: blue;
}
.temp {
    padding: 2rem;
}

.info-chuva {
    position: absolute;
    left: 200px;
}

.info-vento {
    position: absolute;
    right: 200px;
}

